@model prjView.Models.Member

@{
    ViewBag.Title = "會員註冊";
}

<h2>會員註冊</h2>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>產品新增</title>
</head>
<body>
    <form method="post" action="@Url.Action("Create")">

        <div class="form-group">
            <label for="nputId">帳號</label>
            <input type="text" value="@ViewBag.UserId" class="form-control" id="nputId" placeholder="請輸入帳號" required>

            <label for="InputPassword">密碼</label>
            <input type="password" value="@ViewBag.Pwd" class="form-control" id="InputPassword" placeholder="請輸入密碼" required>

            <label for="InputName">姓名</label>
            <input type="text" value="@ViewBag.Name" class="form-control" id="InputName" placeholder="請輸入姓名" required>

            <label for="InputEmail1">Email</label>
            <input type="email" class="form-control" id="InputEmail1" placeholder="請輸入Email" required>
            <small id="emailHelp" class="form-text text-muted">請輸入正確信箱以便認證</small>
            <br/>
            <label for="InputBTD">生日</label>
            <input type="date" value="@ViewBag.Birthday" class="form-control" id="InputBTD" placeholder="請選擇生日" required>


            <button type="button" class="btn btn-outline-primary" onclick="createAccount">註冊</button>
            <hr />
            @{
                if (ViewBag.UserId != null && ViewBag.Pwd != null && ViewBag.Name != null && ViewBag.Email != null && ViewBag.Birthday != null)
                {
                    <p>註冊成功！</p>
                    <table>
                        <tr>
                            <th>帳號</th>
                            <td>@ViewBag.UserId</td>
                            <th>姓名</th>
                            <td>@ViewBag.Name</td>
                            <th>Email</th>
                            <td>@ViewBag.Email</td>
                            <th>生日</th>
                            <td>@ViewBag.Birthday</td>
                        </tr>
                    </table>
                }
            }
        </div>
    </form>
</body>

</html>

